<div class="{{classPrefix}}">
  {{#if total}}
    <span class="total">{{__ '共'}} <strong>{{total}}</strong> {{__ '条'}}</span>
  {{/if}}
  {{#if pageList}}
  {{#each pageList}}
    <a href="javascript:;" class="page-link{{#if cls}} {{cls}}{{/if}}{{#if active}} active{{/if}}" data-role="page-link" data-page="{{page}}"{{#if disabled}} disabled{{/if}}>{{text}}</a>
  {{/each}}
    {{#if showJump}}
    <form>
      <input type="text" size="2" />
      <button>{{__ '跳转'}}</button>
    </form>
    {{/if}}
  {{/if}}
</div>
